/*Elimina los margenes y paddings que agrega el navegador por defecto*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Hace que el tamaño de los elementos sea más fácil de controlar*/

}

body {
    background-color: #FCF8EF;
    font-family: 'Montserrat', sans-serif;
}

/*ICONO DE WHATSAPP*/
.whatsapp-button {
    position: fixed;
    /*Se mantiene fijo en la pantalla y cuando se desplaza*/
    bottom: 20px;
    right: 20px;
    z-index: 100;
    /*Asegura que este por encima de otros elementos*/
    height: 50px;
    width: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

/*********************************MENÚ DE NAVEGACIÓN******************************/
nav {

    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

/*Logo*/
nav img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-left: 15px;

}

/*Lista de navegación*/
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 40px;
    /*para correr los enlaces un poco hacia la derecha*/
}

/*Elementos de la lista de navegación*/
nav li {

    /*Espacio entre los elementos*/
    padding: 0 40px;
    border-right: 1px solid #856652;
}

/*Lineas al costado de cada enlace del menú*/
nav li:last-child {
    border-right: none;
}

/*Enlaces del menú*/
nav a {
    text-decoration: none;
    color: #6B4126;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

/*Efectos para los enlaces del menú*/
nav a:hover {
    border-bottom: 2px solid #856652;
    /*Linea debajo*/
    padding-bottom: 5px;
    color: #856652;
}

/*********************************PRESENTACIÓN******************************/

.presentacion {
    background-image:
        linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)),
        url("../img/playa.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 700px;
    color: white;
    display: flex;
    align-items: center;
}

.presentacion h1 {
    font-size: 40px;
    font-weight: 700;
}

.presentacion h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #856652;
    margin: 10px 0 0 10px;
    /* 10px desde la izquierda */
    border-radius: 10px;
    animation: rebote 0.8s ease;
    /* Hace que el ícono aparezca desde la izquierda al cargar la página /*
     'ease' controla la velocidad de la animación: inicia lentamente, acelera y finaliza suavemente */

}

/* Define la animación de entrada del ícono */
@keyframes rebote {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    60% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.texto-presentacion {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 90px;
    gap: 10px;
}

.texto-bienvenidos {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;

}

.subtitulo {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 12px;
    color: #d8d8d8;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.presentacion h2 {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
}

.texto-presentacion1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;

}

.texto-presentacion1 p::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #856652;
    font-size: 18px;
    font-weight: bold;

}



/*********************************DEPARTAMENTOS******************************/

.departamentos h2::after,
.ubicacion1 h1::after,
.info-depto h1::after,
.video-depto h2::after,
.comunicacion h1::after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background-color: #856652;
    margin: 10px auto;
    border-radius: 10px;
}

.departamentos h2,
.ubicacion h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

.contenedor-deptos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 40px;


}

.card {
    width: 380px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
    margin-top: 30px;
    border: 2px solid #734124;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.card p {
    font-size: 18px;
}

.card i {
    margin-right: 8px;
    font-size: 20px;
    color: #824F2A;
}

.card img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;

}

.card a,
.info-depto a {
    background-color: #856652;
    color: #fbf7ee;
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    transition: .3s;
}

.card a:hover,
.info-depto a:hover {
    background-color: #A67F68;
    transform: scale(1.05);
}

.servicios h2 {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.servicios h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: #856652;
    margin: 10px auto;
    border-radius: 10px;
}

.servicios {
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    margin: 50px auto;
    /* centra el bloque */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #734124;
}

.contenedor-servicios {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
    /* permite que bajen de línea */
}

.servicio {
    background-color: #F2EFE9;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;

}

.servicio:hover {
    transform: translateY(-5px);
}

.servicio i {
    font-size: 25px;
    color: #856652;
    margin-bottom: 10px;
}


/****************************UBICACIÓN*******************/
.ubicacion1 h1::after {
    width: 100px;
}

.ubicacion1 {
    padding: 70px 20px;
    text-align: center;
}


.ubicacion1 h1 {
    font-size: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;


}


/* CONTENEDOR MAPA + TEXTO */

.ubicacion-contenedor {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}


/* MAPA */

.mapa {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(80,50,30,0.15);
}


.mapa h2 {
    margin-bottom: 20px;
}


.mapa iframe {
    width: 500px;
    height: 350px;
    border: none;
    border-radius: 15px;
}


/* TEXTO UBICACIÓN */

.localizacion {
    width: 500px;
    background-color: #e8d8c3;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(80,50,30,0.20);
}


.localizacion p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
}



/* LUGARES CERCANOS */

.distancias {
     background-color: #e8d8c3;
    padding: 50px 20px;
    width: 70%;
    margin: 50px auto;
    border-radius: 25px;
    text-align: center;
    
}


.distancias h2 {
    color: #856652;
    font-size: 30px;
    margin-bottom: 35px;
}


.distancias ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}


.distancias li {
    background-color: #fff;
    color: #856652;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(80,50,30,0.15);
    transition: .3s;
}


.distancias li:hover {
    transform: translateY(-8px);
}

/**************************************DEPARTAMENTOS************************/
.detalle-depto {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 90%;
    margin: 90px auto;
}

.info-depto {
    width: 40%;
}

.info-depto h1,
.video-depto h2 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.info-depto p {
    font-family: 'Poppins', sans-serif;
}

.info-depto i {
    font-size: 20px;
    margin-right: 8px;
    color: #824F2A;
    transition: transform 0.3s ease;

}

.info-depto p:hover i {
    transform: scale(1.3);
}

.info-depto a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: fit-content;
    margin: 30px auto 0;
    font-size: 16px;
    padding: 8px 20px;
     transition: .3s;
}

.columna-izquierda {
    width: 550px;
}

#carouselExample {
    width: 100%;

}

#carouselExample .carousel-item img {
    width: 100%;
    height: 680px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 30px;
}

.video-depto {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}


.video-depto h2 {
    text-align: center;
    margin-bottom: 30px;
}


.video-departamento {
    width: 700px;
    height: 450px;
    object-fit: contain;
    background-color: black;

}


.detalle-depto {
    border: 2px solid #734124;
}

/****************************CONTACTO***************************/

.comunicacion {
    text-align: center;
    padding: 70px 20px;
    background-color: #fbf7ee;
}

.comunicacion h1 {
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
   
}

.comunicacion h1::after {
    width: 100px;
    height: 4px;

}

.subtitulo1 {
    max-width: 700px;
    margin: auto;
    font-size: 20px;
    color: #555;
    margin-top: 25px;
}


.contacto-contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 50px;
}


.contacto-card {
    background-color: white;
    width: 320px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: .3s;
}


.contacto-card:hover {
    transform: translateY(-8px);
}


.contacto-card i {
    font-size: 45px;
    color: #734124;
    margin-bottom: 15px;
}


.contacto-card h3 {
    color: #856652;
    font-size: 25px;
}


.contacto-card p {
    color: #666;
    line-height: 1.5;
    margin-top: 20px;
}


.btn-whatsapp,
.btn-email {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    transition: .3s;
}


.btn-whatsapp {
    background-color: #25D366;
}


.btn-email {
    background-color: #856652;
}


.btn-whatsapp:hover,
.btn-email:hover {
    transform: scale(1.05);
}






/***************************************PIE DE PÁGINA********************************/

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

footer {
    background-color: #856652;
    color: #fbf7ee;
    font-size: 15px;
    padding: 30px;
    display: block;
    margin-top: 100px;

}

footer h3 {
    color: #fbf7ee;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.redessociales ul,
.contacto ul,
.ubicacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin: 10px;
    display: flex;
    align-items: center;
}

footer a {
    color: #fbf7ee;
    text-decoration: none;
    font-size: 16px;

}

footer a:hover {
    color: #f8d479;
    /* un dorado suave que resalta */
}

footer i {
    color: #d8b25e;
    font-size: 22px;
    margin-right: 10px;
}

footer p {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    border-top: 1px solid rgba(251, 247, 238, 0.3);
    padding-top: 20px;
}